@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg {
  background-image: url('/section.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
